.container-products {
    display: flex;
    justify-content: center;
}

.container-products {
    margin-top: 60px;
}

.container-products article b {
    margin-top: 30px;
}
.container-products article a {
    height: 50px;
    margin-top: 55px;
    padding-top: 17px;
}